pkgbase = wallpaper-switcher
	pkgdesc = Nord-themed rofi wallpaper picker + cycle/add tools for KDE Plasma
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Siomai0-hi/wallpaper-switcher
	arch = any
	license = MIT
	depends = rofi
	depends = plasma-workspace
	depends = zenity
	depends = file
	depends = libnotify
	source = wallpaper-switcher-1.0.0.tar.gz::https://github.com/Siomai0-hi/wallpaper-switcher/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = a2eb49a0b93cc70859d51536557a0dcbe95e07ff303c2cdcf21ae2c52c0bc665

pkgname = wallpaper-switcher
