pkgbase = wallpaper-switcher
	pkgdesc = Nord-themed rofi wallpaper picker + cycle/add tools for KDE Plasma
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Siomai0-hi/wallpaper-switcher
	arch = any
	license = MIT
	depends = rofi
	depends = plasma-workspace
	depends = zenity
	depends = file
	depends = libnotify
	source = wallpaper-switcher-1.0.0.tar.gz::https://github.com/Siomai0-hi/wallpaper-switcher/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = a101ba3737d8d6d50575f97fe1482cc30353240ed5fdad6ba1dbf5419e95b682

pkgname = wallpaper-switcher
